#temp {
    display:none;
}

/*company info*/
.left-menu
{
    background-color: #fff;
    border-right: 1px solid #444;
    display: table;
    position: relative;
    transition: .4s;
    webkit-transition: .4s;
    width: 40%;
    z-index: 1;
    float:left;
}

.right-preview
{
    background-color: white;
    position: relative;
    transition: .4s;
    webkit-transition: .4s;
    width: 60%;
    z-index: 0;
    overflow-y: auto;
    float:left;
}

/*end company info*/

.icon {
    width: 33%;
    float: left;
}

.icon > img {
    width: 25px;
    height: 25px;
}

.branch_info, #select_branch_text {
    padding: 0.5% 3%;
}
.branch_info > img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.action_icon {
    font-size: large;
    width:20px;
    height:20px;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.action_icon:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.minimize {
    float:right;
    color: rgb(17, 182, 24);
}

.flag {
    float: right;
    color: rgb(182, 17, 17);
}

.up {
    float: right;
    color: green;
}

.down {
    float: right;
    color: red;
    margin-right: 10px;
}

.reply_icon {
    float:left;
}

.reply {
    float:right;
    height: 20px;
    padding-top: 0;
}

.comment_detail {
    border: 3px solid rgba(0, 0, 128, 0.49);
    margin:2px 0 0 0;
}

.post_start {
    margin: 0 0 10px 0;
}

#Container .mix {
    display: none;
    margin-bottom: 2%;
}

.controls{
    padding: 2%;
    background: #333;
    color: #eee;
}

label{
    font-weight: 300;
    /*margin: 0 .4em 0 0;*/
}

button{
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}
.controls > .filter, .controls > .sort {
    padding: 5%;
    margin: 5% 0;
    background: #666;
    cursor: pointer;
}

.filter.active, .sort.active{
    background: #68b8c4;
}

button:focus{
    outline: 0 none;
}

button + label{
    margin-left: 1em;
}

#Container {
    height: 100% !important;
}

#Container > div:nth-child(odd) {
    background-color: rgb(226, 245, 213);
}

#Container > div:nth-child(even) {
    background-color: rgb(245, 236, 231);
}

#Container > .mix {
    width:100%;
}

.badge {
    float: right;
    margin: 1px 5px;
}

.avatar {
    width:96px;
}

.timeago {
    margin-left: 10px;
}

#overlay {
    width: 100%;
    position: fixed;
    background-color: rgba(46, 44, 44, 0.9);
    z-index: 9999;
    top: 0;
    left: 0;
    text-align: justify;
    /*padding: 2% 8%;*/
    display:none;
}

#overlay_content {
    width: 84%;
    position:relative;
    margin: 0 auto;
}

#overlay_content > div {
    border: 5px groove #666;
}

.unscrollable {
    overflow-y: hidden;
}

#select_branch_text {
    min-height: 25px;
    padding-top: 10px;
}

footer {
    background-color: rgb(5, 5, 5);
    color: white;
    min-height: 3em;
    margin: 1% 4% 0;
}

footer .row > div {
    padding: 1% 3%;
}

.comment_content {
    margin: 0 20px 5px 0;
    min-height: 22px;
}

.photo_upload_icon {
    position: absolute;
    right: 4%;
    font-size: xx-large;
}

#photo_upload_comment_box {
    top: 30px;
}

.img_uploaded {
    width: 30%;
    margin: 0 0.5%;
}

.img_uploaded:first-of-type {
    margin-left: 3.5%;
}

.separator {
    width: 95.5%;
    margin: 1% 0 1% 2%;
    border: 1px solid black;
}

.viewAll {
    cursor: pointer;
}

.viewAll > span {
    margin: 0 2%;
}

.tag {
    border-radius: 5px 5px 0 0;
}

.comment_box {
    margin-top: 10px;
}
